:root {
	--headerHeight: 70px;
}

$maxWidthContainer: 1220px;
$md1: $maxWidthContainer + 12;
$d1: 1920px;
$d2: 1680px;
$d3: 1440px;
$d4: 1336px;
$d5: 1280px;
$d6: 1024px;
$tablet: 768px;
$mobile: 666px;
